<div class="row col-lg-12">
	<p class="foodlover"><b>Món HOT</b></p>
	<a href="#" class="xemthem">Xem thêm</a>
</div>

<div class="row">
	<div class="col-xs-6 col-md-4 col-sm-4 portfolio-item text-justified" href="">
		<a href="#">
			<%= image_tag 'images/anh1.png', class: "img-responsive" %>
			<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</a>
	</div>
	<div class="col-xs-6 col-md-4 col-sm-4 portfolio-item text-justified" href="">
		<a href="#">
			<%= image_tag 'images/anh1.png', class: "img-responsive" %>
			<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</a>
	</div>
	<div class="col-xs-6 col-md-4 col-sm-4 portfolio-item text-justified" href="">
		<a href="#">
			<%= image_tag 'images/anh1.png', class: "img-responsive" %>
			<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</a>
	</div>
	<div class="col-xs-6 col-md-4 col-sm-4 portfolio-item text-justified" href="">
		<a href="#">
			<%= image_tag 'images/anh1.png', class: "img-responsive" %>
			<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</a>
	</div>
	<div class="col-xs-6 col-md-4 col-sm-4 portfolio-item text-justified" href="">
		<a href="#">
			<%= image_tag 'images/anh1.png', class: "img-responsive" %>
			<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</a>
	</div>
	<div class="col-xs-6 col-md-4 col-sm-4 portfolio-item text-justified" href="">
		<a href="#">
			<%= image_tag 'images/anh1.png', class: "img-responsive" %>
			<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</a>
	</div>
	<div class="col-xs-6 col-md-4 col-sm-4 portfolio-item text-justified" href="">
		<a href="#">
			<%= image_tag 'images/anh1.png', class: "img-responsive" %>
			<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</a>
	</div>
	<div class="col-xs-6 col-md-4 col-sm-4 portfolio-item text-justified" href="">
		<a href="#">
			<%= image_tag 'images/anh1.png', class: "img-responsive" %>
			<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</a>
	</div>
	<div class="col-xs-6 col-md-4 col-sm-4 portfolio-item text-justified" href="">
		<a href="#">
			<%= image_tag 'images/anh1.png', class: "img-responsive" %>
			<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</a>
	</div>
</div>

<div class="row">
	<nav class="nav">
		<ul>
			<li class="action"><a href="/thucdon/index">Ăn sáng</a></li>
			<li><a href="/thucdon/index">Ăn trưa</a></li>
			<li><a href="/thucdon/index">Ăn chiều</a></li>
			<li><a href="/thucdon/index">Ăn tối</a></li>
		</ul>
	</nav>
</div>

<div class="row">
	<div class="col-xs-6 col-md-4 col-sm-4 portfolio-item text-justified" href="">
		<a href="#">
			<%= image_tag 'images/anh1.png', class: "img-responsive" %>
			<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</a>
	</div>
	<div class="col-xs-6 col-md-4 col-sm-4 portfolio-item text-justified" href="">
		<a href="#">
			<%= image_tag 'images/anh1.png', class: "img-responsive" %>
			<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</a>
	</div>
	<div class="col-xs-6 col-md-4 col-sm-4 portfolio-item text-justified" href="">
		<a href="#">
			<%= image_tag 'images/anh1.png', class: "img-responsive" %>
			<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</a>
	</div>
	<div class="col-xs-6 col-md-4 col-sm-4 portfolio-item text-justified" href="">
		<a href="#">
			<%= image_tag 'images/anh1.png', class: "img-responsive" %>
			<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</a>
	</div>
	<div class="col-xs-6 col-md-4 col-sm-4 portfolio-item text-justified" href="">
		<a href="#">
			<%= image_tag 'images/anh1.png', class: "img-responsive" %>
			<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</a>
	</div>
	<div class="col-xs-6 col-md-4 col-sm-4 portfolio-item text-justified" href="">
		<a href="#">
			<%= image_tag 'images/anh1.png', class: "img-responsive" %>
			<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</a>
	</div>
	<div class="col-xs-6 col-md-4 col-sm-4 portfolio-item text-justified" href="">
		<a href="#">
			<%= image_tag 'images/anh1.png', class: "img-responsive" %>
			<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</a>
	</div>
	<div class="col-xs-6 col-md-4 col-sm-4 portfolio-item text-justified" href="">
		<a href="#">
			<%= image_tag 'images/anh1.png', class: "img-responsive" %>
			<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</a>
	</div>
	<div class="col-xs-6 col-md-4 col-sm-4 portfolio-item text-justified" href="">
		<a href="#">
			<%= image_tag 'images/anh1.png', class: "img-responsive" %>
			<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</a>
	</div>
</div>

<div class="row col-lg-12">
	<a href="#" class="xemthem">Xem thêm</a>
</div>